In [5]:
studentA = 'John'
studentB = 'Smith'

print(studentA )
print(type(studentA ))

John
<class 'str'>

In [2]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print (counter)
print (miles)
print (name)

100
1000.0
John

In [3]:
print(counter+miles)

1100.0

In [6]:
mileage_truck = 300
mileage_car = 200

In [7]:
print(mileage_car)

200

In [8]:
mileage_car = mileage_truck

In [10]:
print(mileage_car)
print(mileage_truck)

300
300

In [11]:
mileage_car = 200
print(mileage_car)

200

In [12]:
mileage_car = mileage_truck
print(mileage_car)

300

In [13]:
name = "John"
grades = (10, 20, 30 , 40, 50)

print(type(name))
print(type(grades))

<class 'str'>
<class 'tuple'>