In [2]:
from datascience import *
import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

<ipython-input-2-a5a2fb7197c7>:3: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('Agg', warn=False)

In [3]:
#difference notebook (e.g. jupyter, google colab, ms azure) and programming language (e.g. python, R, Java, C++, C# etc)
# python -> import a file ; clean the data <- ! possible
# 3rd party libraries ->  pandas, tidyverse, datascience [numpy, scipy, sci-kit learn, nltk,]

In [4]:
#variables: 
# nominal/categorical: terriers, retrievers, spaniels | powerlifter, strongman, crossfit, olympic 
# ordinal: small, medium, large
# count: 1,2,3,4 ...
# continuous: height, weight, age
# special: text, signal (audio/video/brainwaves)

In [5]:
a = 0
b = 1
c = a + b

In [6]:
print(c)

1

In [7]:
#importing anaconda library package math
import math, scipy
import numpy as np

In [8]:
#using sqrt function from math
math.sqrt(9)

3.0

In [9]:
math.factorial(4)

24

In [10]:
math.factorial(50)

30414093201713378043612608166064768844377641568960512000000000000

In [11]:
math.factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [12]:
2/3

0.6666666666666666

In [13]:
5.42/100000

5.4199999999999996e-05

In [14]:
0.0000542

5.42e-05

In [15]:
#text = string
'This is a string'

'This is a string'

In [16]:
'This is also a string'

'This is also a string'

In [17]:
#concatenation
'break' + 'fast' + '1'

'breakfast1'

In [18]:
"na " * 5

'na na na na na '

In [19]:
#array is a list of variables
a = 5
print(a)

5

In [20]:
b = (145,140,127,55,100,24,20,12)
b

(145, 140, 127, 55, 100, 24, 20, 12)

In [21]:
len(b)

8

In [22]:
#more array confusion
array1 = np.arange(2,7,2)
array2 = array1 - 1
array3 = array1 + 1

In [23]:
array1

array([2, 4, 6])

In [24]:
array2

array([1, 3, 5])

In [25]:
array3

array([3, 5, 7])

In [29]:
Table.read_table('data/flowers.csv')

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red

In [32]:
flowers = Table.read_table('data/flowers.csv')

In [33]:
flowers

Petals | Name      | Color
8      | lotus     | pink
34     | sunflower | yellow
5      | rose      | red